*{
    margin:0;
    padding:0;
}
.logo{
    display:flex;
    justify-content: center;
    width:400px;
    height:100px;
    background: #312f2f;
    margin:10px auto;
}
.logoSnake{
    width:100px;
    height:100px;
}
.container{
    display:flex;
    justify-content: center;
    background:red;
}
.buttonStartGame{
    display:flex;
    justify-content: center;
    background: green;
    align-items: flex-end;
    height: 100px;
}

button{
    margin:10px;
    background:lightblue;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background:blue;
    color:white;
}

#wall{
    background-color: #444;
    width: 310px;
    height:160px;
    margin: 50px auto;
    -webkit-box-shadow:0 0 10px #444;  
      -moz-box-shadow:0 0 10px #444;  
      box-shadow:0 0 10px #444; 
      position: relative;
}
#canvas{
    height: 100%;
    width:100%;
    background: -webkit-linear-gradient(top,transparent 19px, #fff 20px),
                -webkit-linear-gradient(left,transparent 19px, #fff 20px);
    background: -o-linear-gradient(top,transparent 19px, #fff 20px),
                -o-linear-gradient(left,transparent 19px, #fff 20px);
    background: -moz-linear-gradient(top,transparent 19px, #fff 20px),
                -moz-linear-gradient(left,transparent 19px, #fff 20px);
    background: linear-gradient(top,transparent 19px, #fff 20px),
                linear-gradient(left,transparent 19px, #fff 20px);
    background-size: 20px 20px;
    background-repeat: repeat;
}
.showInfo{
    display:flex;
    justify-content: center;
    align-self: center;
    /* background:yellow; */
    /* height:100px; */
}
/* .score{
    animation: 1s roate 1s 1
} */

